@charset "UTF-8";
/* CSS Document */

#pagetitle{
	font-size:14px;
	display:block;
	letter-spacing:2px;
	font-family: 'Trebuchet MS', 'Myriad Pro', Arial, sans-serif;
	color:#000;
	line-height:14px;
	padding-top:0px;
	text-shadow:none;
	text-transform:uppercase;
	float:center;
	text-align:center;
}


#rig {
    width:95%;
    margin:0 auto; /*center aligned*/
    padding:5px;
    font-size:0; /* Remember to change it back to normal font size if have captions */
    list-style:none;
    background-color:#fff;
}
#rig li {
    display: inline-block;
    *display:inline;/*for IE6 - IE7*/
    width:33%;
    vertical-align:middle;
    box-sizing:border-box;
    margin:0;
    padding:5px;
}

       
/* The wrapper for each item */
.rig-cell {
    /*margin:12px;
    box-shadow:0 0 6px rgba(0,0,0,0.3);*/
    display:block;
    position: relative;
    overflow:hidden;
}
     
	   
/* If have the image layer */
.rig-img {
    display:block;
    width: 100%;
	max-width: 550px;
    height: auto;
    border:none;
    transform:scale(1);
    transition:all 1s;
  
}



#rig li:hover .rig-img {
    transform:scale(1.05);
}
        
/* If have the overlay layer */
.rig-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #fff url(img/link.png) no-repeat center 20%;
    background-size:50px 50px;
    opacity:0;
    filter:alpha(opacity=0);/*For IE6 - IE8*/
    transition:all 0.6s;
}
#rig li:hover .rig-overlay {
    opacity:0.5;
}

/* If have captions */
.rig-text {
    display:block;
    padding:0 30px;
    box-sizing:border-box;
    position:absolute;
    left:0;
    width:100%;
    text-align:center;
    text-transform:capitalize;
  font-size:11px;
	letter-spacing:2px;
	font-family: 'Trebuchet MS', 'Myriad Pro', Arial, sans-serif;
    font-weight:normal!important;
    top:40%;
    color:#000;
    opacity:0;
    filter:alpha(opacity=0);/*For older IE*/
    transform:translateY(-20px);
    transition:all .3s;
	text-transform:uppercase;
}
#rig li:hover .rig-text {
    transform:translateY(0px);
    opacity:0.9;
}


@media (max-width: 9000px) {
    #rig li {
        width:25%;
    }
}
@media (max-width: 1650px) {
    #rig li {
        width:33.33%;
    }
}

@media (max-width: 1100px) {
    #rig li {
        width:50%;
    }
}

@media (max-width: 550px) {
    #rig li {
        width:100%;
    }
}









#rig2 {
    width:95%;
    margin:0 auto; /*center aligned*/
    padding:5px;
    font-size:0; /* Remember to change it back to normal font size if have captions */
    list-style:none;
    background-color:#fff;
}
#rig2 li {
    display: inline-block;
    *display:inline;/*for IE6 - IE7*/
    width:99%;
    vertical-align:middle;
    box-sizing:border-box;
    margin:0;
    padding:0;
}

       
/* The wrapper for each item */
.rig2-cell {
    /*margin:12px;
    box-shadow:0 0 6px rgba(0,0,0,0.3);*/
    display:block;
    position: relative;
    overflow:hidden;
}
     
	   
/* If have the image layer */
.rig2-img {
    display:block;
    width: 100%;
	max-width: 1650;
    height: auto;
    border:none;
    transform:scale(1);
    transition:all 1s;
}



#rig2 li:hover .rig2-img {
    transform:scale(1.05);
}
        
/* If have the overlay layer */
.rig2-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #fff url(img/link.png) no-repeat center 20%;
    background-size:50px 50px;
    opacity:0;
    filter:alpha(opacity=0);/*For IE6 - IE8*/
    transition:all 0.6s;
}
#rig2 li:hover .rig2-overlay {
    opacity:0.5;
}

/* If have captions */
.rig2-text {
    display:block;
    padding:0 30px;
    box-sizing:border-box;
    position:absolute;
    left:0;
    width:100%;
    text-align:center;
    text-transform:capitalize;
  font-size:11px;
	letter-spacing:2px;
	font-family: 'Trebuchet MS', 'Myriad Pro', Arial, sans-serif;
    font-weight:normal!important;
    top:40%;
    color:#000;
    opacity:0;
    filter:alpha(opacity=0);/*For older IE*/
    transform:translateY(-20px);
    transition:all .3s;
	text-transform:uppercase;
}
#rig2 li:hover .rig2-text {
    transform:translateY(0px);
    opacity:0.9;
}


@media (max-width: 3300px) {
    #rig2 li {
        width:50%;
    }
}
@media (max-width: 1650px) {
    #rig2 li {
        width:99%;
    }
}
